.settings {
	background: var(--bg3);
    padding: 20px;
    border-radius: 5px;
    z-index: 9;
	max-width: 300px;
	margin-right: 10px;
	margin-bottom: 10px;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}
.settings h1{
    margin-top: 0px;
}
option {
	color: var(--text-color1);
}
table.settings-table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	color: var(--text-color1);
	width: 100%;
}

.settings-table td,
.settings-table th {
	border: none;
	text-align: left;
	padding: 8px;
}

.settings-textinfos{
	display: flex;
	flex-wrap: wrap;
	min-width: 200px;
}